/* .center{
  background-image: url('./img/background.jpg');
} */

.heading {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
}
.middleApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  justify-content: center;
  margin: auto;
  align-content: center;
  background-color: antiquewhite;
  width: 330px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.Block {
  text-align: center;
  line-height: 98px;
  font-size: 60px;
  margin: auto;
  width: 98px;
  height: 98px;
  display: block;

  background-color: rgba(86, 107, 228, 0);
}
.noBlock {
  text-align: center;
  pointer-events: none;
  line-height: 98px;
  font-size: 60px;
  margin: auto;
  width: 98px;
  height: 98px;
  display: block;
  background-color: rgba(86, 107, 228, 0);
}
.buttonStyles {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: auto;
  margin: auto;
}
.bottomScoreCard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: auto;
  margin: auto;
}
.bottomHeading {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  text-align: center;
}
.xturn {
  background-color: rgb(86, 107, 228);
  border: solid 1px black;
}
.oturn {
  background-color: rgb(226, 138, 55);
  border: solid 1px black;
}
.setting {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 500px;
  align-content: center;
  margin: auto;
  text-align: center;
}
